# PhpStorm
.idea

# General files
*~
*.DS_STORE

# Dependency managers
node_modules/
npm-debug.log

# Server
server/build
config.js
csgo-matchmaking.json
csgo-matchmaking.log

# Client
client/build
config.js
